*, .row{
    margin: 0; 
    padding: 0;
}

body {
    font-family: 'Concert One', sans-serif !important;
    font-weight: 400;
}
.color {
    width: 100vw;
    color: #fff;
    font-weight: 400;
    background-color: #AA5585;
    position: fixed;
    z-index:2;
    top:0;
    left:0;
}

.bottom-content { 
    position: absolute;
    bottom: 0;
    height: 100%;
}

h1 {
    font-size: 30px;
}

p {
    font-size: 20px;
}

.center {
    margin: 40px 0 20px;
}

hr {
    border: #fff solid 2px;
    margin: 5px 120px 0px;
}

a {
    margin-left: 20px;
}

header {
    margin-top: 72px;
    height: 40vh;
    background: url("../img/Foto.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100vw;
    color: #ffffff;
}

u {
    font-weight: 400;
    font-size: 30px;
}

.espacio {
    padding: 20px;
}

.img-bottom {
    width: 100%;
}

.work {
    background-color: thistle;
    padding: 30px;
}

.oscuro {
    background: #AA5585;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.colornone {
    text-decoration: none;
}